*{
    padding: 0;
    margin: 0;
    background-color:white;
    color:black;
}
#navigationbar {
    height: 60px;
    background-color: #0f1110;
    color: white;
}
button {
    background-color: #f08804;
}
#logo {
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
#content {
    height: 900px;

}
.contentbox {
    height: 100px;
    width: 100px;
    border: 2px solid white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}